<div class = "row">
	<div class = "span6 offset0">
		<div class = "well">
			<p>
	  			<%= @collection.collection_name %> by 
	  			<%= @collection.user.name %>

			</p>
<!--			<% if current_user == @collection.user %>
				<%= link_to 'Edit', edit_collection_path(@collection) %> |
			<% end %>
-->


		</div>
	</div>
	
</div>

<div id="pins">
  	<%= render @collection.pins %>

</div>

<!--
<div class = "row"> 
	<%= link_to 'Back', collections_path %> 
</div>
-->




