<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  	
  	<%= f.error_notification %>
	<%= f.full_error :image_file_size, class: "alert alert-error" %>
	<%= f.full_error :image_content_type, class: "alert alert-error"%>

  	
   
    <%= f.input :image , label: "Upload an image"%>
    <%= f.input :image_remote_url , label: "or enter a URL"%>

    <%= f.input :description, as: :text, input_html: {rows: "3"} %>

    <%= f.input :collection_id, :collection => Collection.all, :label_method => :collection_name, :prompt => "Select One" %>

    <%= f.input :tag, as: :text, input_html: {rows: "1"} %>  
    
  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-primary"%>
  </div>
<% end %>
